In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("D:/INTERNSHIP/towers&antennas.csv")
df.head(10)   #display first 10 rows of the dataframe

,Town,Address,Latitude,Longitude,Tower Type,Owner,Height,Comments,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,carrier_9,New Georeferenced Column
0,Cheshire,1511 Byam Road,41.546844,-72.958817,rooftop,NaN,20',Fire Station,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,4.0
1,Cromwell,51 Shunpike Road,41.604694,-72.675806,power mount,NaN,39,NaN,AT&T @ 39',NaN,NaN,NaN,NaN,NaN,NaN,165.0,NaN,3.0
2,Fairfield,2507 Post Road,41.139250,-73.276194,rooftop,NaN,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,NaN,2.0
3,Fairfield,30 Jelliff Lane,41.137319,-73.291133,rooftop,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,NaN,2.0
4,Hamden,1158 Dixwell Avenue,41.345019,-72.934747,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,NaN,7.0
5,Hartford,61 Savitt Way,41.780000,-72.668889,rooftop,Meadows Music Theater,NaN,NaN,Verizon @ 81',NaN,NaN,NaN,NaN,NaN,NaN,79.0,NaN,1.0
6,Manchester,935 Main St.,41.769167,-72.520000,rooftop,NaN,NaN,NaN,Verizon @ 59',NaN,NaN,NaN,NaN,NaN,NaN,263.0,NaN,1.0
7,Milford,300 Seaside Avenue,41.216400,-73.065403,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.0,NaN,7.0
8,New Haven,100 Howe Street,41.311111,-72.934444,rooftop,NaN,NaN,"Nextel Communications, Inc. antenna",Nextel @ 75',NaN,NaN,NaN,NaN,NaN,NaN,275.0,NaN,7.0
9,New Haven,480 Ferry Street,41.312778,-72.896944,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242.0,NaN,7.0

# Data Cleaning
## Data cleaning is carried out in the following steps:
### Step 1 - Remove columns which contain unimportant information.

In [3]:
df.drop(columns=["Owner", "Comments", "Address", "carrier_9"], inplace=True)
df.head(10)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column
0,Cheshire,41.546844,-72.958817,rooftop,20',NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,4.0
1,Cromwell,41.604694,-72.675806,power mount,39,AT&T @ 39',NaN,NaN,NaN,NaN,NaN,NaN,165.0,3.0
2,Fairfield,41.139250,-73.276194,rooftop,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,2.0
3,Fairfield,41.137319,-73.291133,rooftop,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,2.0
4,Hamden,41.345019,-72.934747,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,7.0
5,Hartford,41.780000,-72.668889,rooftop,NaN,Verizon @ 81',NaN,NaN,NaN,NaN,NaN,NaN,79.0,1.0
6,Manchester,41.769167,-72.520000,rooftop,NaN,Verizon @ 59',NaN,NaN,NaN,NaN,NaN,NaN,263.0,1.0
7,Milford,41.216400,-73.065403,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.0,7.0
8,New Haven,41.311111,-72.934444,rooftop,NaN,Nextel @ 75',NaN,NaN,NaN,NaN,NaN,NaN,275.0,7.0
9,New Haven,41.312778,-72.896944,rooftop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,242.0,7.0

### Step 2 - Filter out rows having the most common types of towers and remove the other rows.

In [4]:
types = ["self-supporting lattice", "guyed lattice", "utility pole", "monopole", "power mount", "rooftop"]

df1 = pd.DataFrame()    #Create new dataframe to store the filtered out rows

for tower_type in types:
    print(tower_type)
    temp = df[df["Tower Type"]==tower_type]   #filter out rows having a specific tower type
    df1 = pd.concat([df1, temp])    #concatenate original dataframe with new temporary dataframe
    
df1.head(10)

self-supporting lattice
guyed lattice
utility pole
monopole
power mount
rooftop

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column
10,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,233.0,6.0
35,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,13.0,8.0
36,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,271.0,3.0
40,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,200.0,4.0
75,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,271.0,3.0
84,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.0
87,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,15.0,8.0
93,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,192.0,3.0
99,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,174.0,2.0
109,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,199.0,7.0

### Step 3 - Drop the rows with missing values i.e. NaN in either of the given 3 columns

In [6]:
df1.dropna(axis=0, subset=["Height", "carrier_8", "New Georeferenced Column"], inplace=True)
print(df1.shape)
df1.head(10)

(1210, 14)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column
10,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,233.0,6.0
35,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,13.0,8.0
36,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,271.0,3.0
40,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,200.0,4.0
75,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,271.0,3.0
84,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.0
87,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,15.0,8.0
93,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,192.0,3.0
99,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,174.0,2.0
109,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,199.0,7.0

### Step 4 - Reset the disturbed indices for better representation of the dataframe

In [7]:
df1.reset_index(drop=True, inplace=True)
df1.head(10)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column
0,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,233.0,6.0
1,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,13.0,8.0
2,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,271.0,3.0
3,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,200.0,4.0
4,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,271.0,3.0
5,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.0
6,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,15.0,8.0
7,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,192.0,3.0
8,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,174.0,2.0
9,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,199.0,7.0

# Data Wrangling
### It involves deriving meaning from raw data by creating new data using original data or transforming original data. For this problem, we are going to derive a new column for the no. of carriers for each tower. Below are the steps given to carry out the process:
### Step1 - Filter out the columns "carrier_1" to "carrier_7"

In [9]:
df_carriers = df1[["carrier_1","carrier_2","carrier_3","carrier_4","carrier_5","carrier_6", "carrier_7"]]
df_carriers.head(10)

,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7
0,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN
1,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN
2,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN
3,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN
4,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN
7,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN
8,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN
9,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN

### Step2 - Create a new array and store the no. of carriers in all rows, from first to last

In [10]:
carriers = df_carriers.count(axis=1).tolist()
print(carriers[0:10])   #display first 10 elements of the array

[2, 1, 3, 5, 2, 0, 3, 1, 3, 1]

### Step3 - Assign the new array to the new column of the dataframe

In [12]:
df1["Carriers"] = carriers
df1.head(20)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column,Carriers
0,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,233.0,6.0,2
1,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,13.0,8.0,1
2,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,271.0,3.0,3
3,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,200.0,4.0,5
4,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,271.0,3.0,2
5,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.0,0
6,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,15.0,8.0,3
7,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,192.0,3.0,1
8,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,174.0,2.0,3
9,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,199.0,7.0,1
10,Killingworth,41.357758,-72.566100,self-supporting lattice,100,American Messaging Service,NaN,NaN,NaN,NaN,NaN,NaN,125.0,3.0,1
11,New Fairfield,41.450833,-73.515917,self-supporting lattice,188,metricom @ 166',Nextel @ 175',T-Mobile @ 191.5',Verizon @ 156',Cingular/AT&T @ 160',mediaflo @134.5,NaN,45.0,9.0,6
12,Newtown,41.427778,-73.343722,self-supporting lattice,180,cl&p/nu @ 177',Nextel @ 110',Sprint @ 90',T-Mobile @ 150',Cingular/AT&T @ 136',Verizon @ 126',NaN,153.0,9.0,6
13,Guilford,41.288686,-72.658308,self-supporting lattice,190,Cingular @ 160',wmnr @ 125',T-Mobile @ 170',MetroPCS @ 180',town of guilford @ var.,usa mobility @ 130',NaN,201.0,7.0,6
14,East Hampton,41.602778,-72.528611,self-supporting lattice,120,Cingular @ 105',NaN,NaN,NaN,NaN,NaN,NaN,273.0,3.0,1
15,Lebanon,41.682944,-72.216194,self-supporting lattice,120,Cingular @ 131'/120',T-Mobile @ 99.5',NaN,NaN,NaN,NaN,NaN,29.0,8.0,2
16,Glastonbury,41.714358,-72.613047,self-supporting lattice,130,Nextel @ 128',Sprint @ 118',Cingular/AT&T @ 108',T-Mobile @ 93',Verizon @ 80',NaN,NaN,90.0,1.0,5
17,Meriden,41.561153,-72.844128,self-supporting lattice,150,"Verizon @ 98'6""",Sprint @ 60',T-Mobile @ 130',Nextel @ 115',NaN,NaN,NaN,226.0,7.0,4
18,Hebron,41.658556,-72.362347,self-supporting lattice,100',NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,1.0,0
19,Bolton,41.784786,-72.461964,self-supporting lattice,63,united cable tv corp @ 48',NaN,NaN,NaN,NaN,NaN,NaN,209.0,1.0,1

### Step4 - Remove the rows having "Height" in terms of inches to simplify the dataframe

In [15]:
height_inches = []

for (index, item) in enumerate(list(df1["Height"])):
    if "'" in str(item):
        height_inches.append(index)    #Height_inches is an array to store the unwanted height values i.e. the ones with inches
        
df1.drop(height_inches, axis=0, inplace=True)
print(df1.shape)
df1.head(10)

(1038, 15)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,carrier_8,New Georeferenced Column,Carriers
0,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,233.0,6.0,2
1,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,13.0,8.0,1
2,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,271.0,3.0,3
3,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,200.0,4.0,5
4,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,271.0,3.0,2
5,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.0,0
6,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,15.0,8.0,3
7,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,192.0,3.0,1
8,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,174.0,2.0,3
9,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,199.0,7.0,1

In [18]:
df1.drop(columns="carrier_8", inplace=True)
df1.head(10)

,Town,Latitude,Longitude,Tower Type,Height,carrier_1,carrier_2,carrier_3,carrier_4,carrier_5,carrier_6,carrier_7,New Georeferenced Column,Carriers
0,North Canaan,42.014722,-73.326389,self-supporting lattice,195,Cingular @ 143',T-Mobile @ 125',NaN,NaN,NaN,NaN,NaN,6.0,2
1,Montville,41.468778,-72.203250,self-supporting lattice,300,t-mobile @ 180',NaN,NaN,NaN,NaN,NaN,NaN,8.0,1
2,Clinton,41.275206,-72.497711,self-supporting lattice,195,Verizon @ 162',Sprint @ 182',Cingular @ 152',NaN,NaN,NaN,NaN,3.0,3
3,Middlebury,41.513611,-73.124167,self-supporting lattice,160,Cingular @ 135',dps @ 57-160',Sprint @ 97',T-Mobile @ 125',Verizon @ 75',NaN,NaN,4.0,5
4,Clinton,41.278814,-72.525975,self-supporting lattice,67,T-Mobile @ 60',Verizon @ 50',NaN,NaN,NaN,NaN,NaN,3.0,2
5,Hamden,41.415569,-72.928889,self-supporting lattice,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0
6,Montville,41.473958,-72.115856,self-supporting lattice,260,dep @ 260',dps @ 254',T-Mobile @ 235',NaN,NaN,NaN,NaN,8.0,3
7,East Haddam,41.461336,-72.437750,self-supporting lattice,120,DESPP @,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1
8,Fairfield,41.210000,-73.261667,self-supporting lattice,84,Cingular/AT&T @ 84',Sprint @ 101',T-Mobile @ 95',NaN,NaN,NaN,NaN,2.0,3
9,Meriden,41.557231,-72.789744,self-supporting lattice,120,clearwire @ 110',NaN,NaN,NaN,NaN,NaN,NaN,7.0,1

### Finally, write the final obtained dataframe to any directory in your pc.

In [19]:
df1.to_csv("D:/INTERNSHIP/db_final.csv")